@font-face {
  font-family: "Helvetica Neue LT GEO";
  src: url("./fonts/helvetica-neue-lt-geo-55-roman.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica Neue LT GEO";
  src: url("./fonts/Helvetica-Neue-LT-GEO-65-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Helvetica Neue LT GEO";
  src: url("./fonts/Helvetica-Neue-LT-GEO-75-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Helvetica Neue LT GEO Caps";
  src: url("./fonts/HelveticaNeueLTGEOCaps-55Roman.ttf");
  font-weight: 400;
}
